<html>
    <head>
        <title>Administration</title>
    </head>
    <body>
        <h1>Admin Page!</h1>
        <div>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Admin</th>
                    <th>Change Role</th>
                    <th>Delete User</th>
                </tr>
                <% users.forEach((user) => { %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= users.isadmin %></td>
                        <td><a href="/users/changerole/<%= user.username %>">Change Role</a></td>
                        <td><a href="/users/delete/<%= user.username %>">Delete</a></td>
                    </tr>
                <% }) %>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Length</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% posts.forEach((post) => { %>
                    <tr>
                        <td><a href="/posts/load/<%= post._id %>"><%= post.name %></a></td>
                        <td><%= post.content.length %></td>
                        <td><a href="/posts/edit/<%= post._id %>">Edit</a></td>
                        <td><a href="/posts/delete/<%= post._id %>">Delete</a></td>
                    </tr>
                <% }) %>
            </table>
        </div>
        <div>
            <h3>Create Post</h3>
            <form action="/posts/create" method="POST">
                <input type="text" name="postname"><br>
                <textarea name="postcontent" rows="6" cols="60"></textarea><br>
                <input type="submit" value="Create Post">
            </form>
        </div>
        <div>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>